<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.luuzun.article.model.ArticleContentDao">
	<resultMap type="articleContent" id="ArticleContentResult">
		<result 		property="content" 	column="content" />
		<result 		property="filePath" column="file_path" />
<!-- 	<association 	property="article" 	resultMap="com.luuzun.ArticleMapper.ArticleResult"/>-->		
		<association 	property="article" column="article" javaType="Article">
			<id 		 property="articleNo" 		column="article_no" />
			<result 	 property="title" 			column="title" />
			<result 	 property="articleRegDate" 	column="article_reg_date" />
			<result 	 property="articleModDate" 	column="article_mod_date" />
			<result 	 property="readCnt" 		column="read_cnt" />
			<!-- <association property="writerId" 		column="writer_id"
						resultMap="mapper.MemberMapper.MemberResult" /> -->
			<association property="writerId" column="writer_id" javaType="Member">
				<id 	property="memberId" 		column="member_id" />
				<result property="memberName" 		column="member_name" />
				<result property="memberPassword" 	column="member_password" />
				<result property="memberRegDate" 	column="member_reg_date" />
			</association>
		</association>	
	
	</resultMap>
	
	<insert id="insert" parameterType="Article">
		INSERT INTO article_content
			(article_no, content, file_path)
			VALUES(#{article.articleNo}, #{content}, #{filePath})
	</insert>

	<select id="selectByAll" resultMap ="ArticleContentResult">
		SELECT * FROM article_content 
			JOIN article ON article_content.article_no = article.article_no
			JOIN MEMBER ON article.writer_id = MEMBER.member_id
	</select>
	
	<select id="selectById" parameterType="int" resultMap ="ArticleContentResult">
		SELECT * FROM article_content 
			JOIN article ON article_content.article_no = article.article_no
			JOIN MEMBER ON article.writer_id = MEMBER.member_id
			WHERE article.article_no=#{article.articleNo}
	</select>
	
	<update id="update" parameterType="Article">
		UPDATE article_content
			SET content=#{content}, file_path=#{filePath}
			WHERE article_no=#{articleNo};
	</update>
	
	<delete id="delete" parameterType="string">
		DELETE FROM Article 
			WHERE article_no=#{articleNo};
	</delete>
</mapper>